{% extends "layout/layout.html" %}
{% block content %}
<div class="card card-section item-info-card">
	<div class="row banner menu">
		<div class="col-md-12 padding-none">
			<h1>New Item</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 padding-top">
			<form method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" id="name" name="name" placeholder="Item Name">
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" id="description" name="description" placeholder="Item Description"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="text" id="price" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					{% include "categoryDropdownList.html" %}
					<button type="submit" class="btn btn-success" id="submit">
						<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
						Create
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}